// Scroll/Intro animation
body {
  position: fixed;
  top: 0;
  left: 0;

  overflow: hidden;
}


// Animations
.animated {
  transition: opacity 300ms ease, transform 300ms ease;

  &-out {
    &.fade {
      opacity: 1;
    }

    &.bottom-to-top {
      transform: translateY(2.5rem);
    }
  }

  &-in {
    &.fade {
      opacity: 0;
    }

    &.bottom-to-top {
      transform: translateY(2.5rem);
    }
  }
}

// Intro triggers
.intro-finished {
  #intro {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    background: transparent;

    transition: opacity 300ms ease, transform 300ms ease;
  }

  &.video-view {
    #intro {
      @extend .d-none;
      @extend .d-xs-flex;

      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    @include media-xs {
      #start {
        #video-container {
          &::before {
            background: rgba(black, .25);
          }
        }

        .animated {
          &-out {
            &.fade {
              opacity: 0;
            }

            &.bottom-to-top {
              transform: translateY(2.5rem);
            }
          }
        }
      }
    };
  }
}

.scroll {
  &-started {
    @include media-xs {
      position: relative;
      overflow: auto;
    };
  }

  &-finished {
    position: relative;
    overflow: auto;

    #page-wrapper {
      position: relative;
      overflow: hidden;
    }

    #start {
      .animated {
        &-in {
          &.fade {
            opacity: 1;
          }

          &.bottom-to-top {
            transform: translateY(0);
          }
        }
      }
    }
  }
}

// Visible/active triggers
.content {
  &.visible,
  &.active {
    .animated {
      &-in {
        &.fade {
          opacity: 1;
        }

        &.bottom-to-top {
          transform: translateY(0);
        }
      }
    }
  }
}
