.sticky-nav {
  // calc(NavHeight in em (Height in px / 8.33333) + 100vh)
  @include media-xs {
    padding-top: calc(13.8960006em + 100vh);
  };

  // calc(NavHeight in em (Height in px / 8.33333) + 100vh)
  @include media-sm {
    padding-top: calc(17.4930556em + 100vh);
  };

  #header {
    position: fixed;
    top: 0;
    left: 0;

    margin-top: 0;
  }

  #header,
  section {
    @include media-xs {
      z-index: 2;
    };
  }
}

.mini-nav {
  #header {
    padding-bottom: 2.5em;
    z-index: 3;
  }

  &.modal-active {
    #header {
      z-index: 4;
    }
  }
}
