#menu-primary {
  &-container {
    @extend .col-auto;
    @extend .d-none;
    @extend .d-xs-block;

    @include font-size(28);

    @include media-xs {
      @include font-size(24);
    };

    @include media-sm {
      @include font-size(28);
    };
    color: white;
  }

  @extend .nav;
  margin: {
    left: -2.5em;
    right: -2.5em;
  }

  @include media-xs {
    margin: {
      left: -1em;
      right: -1em;
    }
  };

  @include media-sm {
    margin: {
      left: -2.5em;
      right: -2.5em;
    }
  };

  .sub-menu {
    @extend .d-none;
  }

  li {
    @extend .nav-item;

    margin: 0rem -1rem;
    padding: {
      left: 2.5em;
      right: 2.5em;
    }

    @include media-xs {
      margin: -.5rem -1rem;
      padding: {
        left: 1em;
        right: 1em;
      }
    };

    @include media-sm {
      padding: {
        left: 2.5em;
        right: 2.5em;
      }
    };
  }

  a {
    @extend .nav-link;

    position: relative;
    color: inherit;

    &::before,
    &::after {
      @extend .d-none;
      @extend .d-xs-block;

      content: '';
      position: absolute;
      top: 100%;
      left: 50%;

      width: 0%;
      height: 2px;

      background: white;
      z-index: 1;

      transition: all 300ms ease;
    }

    &::after {
      left: auto;
      right: 50%;
    }

    @at-root {
      body:not(.modal-active) {
        #menu-primary {
          li {
            &.current-menu-item a,
            a:hover,
            a:focus {
              &::before,
              &::after {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
}


#menu-footer {
  &-container {
    @extend .col-12;
    @extend .col-xs-auto;

    margin-bottom: -1rem;
    padding-bottom: 1rem;
    overflow: hidden;
  }

  @extend #menu-primary;
}
