@font-face {
	font-family: 'Maison Neue';
	src: url('fonts/maisonNeue-LightItalic.woff2') format('woff2'),
		url('fonts/maisonNeue-LightItalic.woff') format('woff'),
		url('fonts/maisonNeue-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('fonts/maisonNeue-Light.woff2') format('woff2'),
		url('fonts/maisonNeue-Light.woff') format('woff'),
		url('fonts/maisonNeue-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('fonts/maisonNeue-MediumItalic.woff2') format('woff2'),
		url('fonts/maisonNeue-MediumItalic.woff') format('woff'),
		url('fonts/maisonNeue-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('fonts/maisonNeue-Book.woff2') format('woff2'),
		url('fonts/maisonNeue-Book.woff') format('woff'),
		url('fonts/maisonNeue-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('fonts/maisonNeue-BoldItalic.woff2') format('woff2'),
		url('fonts/maisonNeue-BoldItalic.woff') format('woff'),
		url('fonts/maisonNeue-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('fonts/maisonNeue-Medium.woff2') format('woff2'),
		url('fonts/maisonNeue-Medium.woff') format('woff'),
		url('fonts/maisonNeue-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('fonts/maisonNeue-BookItalic.woff2') format('woff2'),
		url('fonts/maisonNeue-BookItalic.woff') format('woff'),
		url('fonts/maisonNeue-BookItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Maison Neue Mono';
	src: url('fonts/maisonNeue-Mono.woff2') format('woff2'),
		url('fonts/maisonNeue-Mono.woff') format('woff'),
		url('fonts/maisonNeue-Mono.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue Mono';
	src: url('fonts/maisonNeue-MonoItalic.woff2') format('woff2'),
		url('fonts/maisonNeue-MonoItalic.woff') format('woff'),
		url('fonts/maisonNeue-MonoItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('fonts/maisonNeue-DemiItalic.woff2') format('woff2'),
		url('fonts/maisonNeue-DemiItalic.woff') format('woff'),
		url('fonts/maisonNeue-DemiItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('fonts/maisonNeue-Bold.woff2') format('woff2'),
		url('fonts/maisonNeue-Bold.woff') format('woff'),
		url('fonts/maisonNeue-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('fonts/maisonNeue-Demi.woff2') format('woff2'),
		url('fonts/maisonNeue-Demi.woff') format('woff'),
		url('fonts/maisonNeue-Demi.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
