h1,
.h1 {
	@include font-size(map-get($font-size, 'primary'));
	color: map-get($color-text, 'primary');
	text-transform: none;
}

h2,
.h2 {
	@include font-size(map-get($font-size, 'secondary'));
	color: map-get($color-text, 'primary');
	font-weight: bold;
	text-transform: uppercase;
}

h3,
.h3 {
	@include font-size(24);
	color: map-get($color-text, 'secondary');
	font-weight: bold;
}
