@import "custom-fonts";

html {
	font-size: 4vw;

	@include media-xs {
		font-size: 2vw;
	};

	@include media-sm {
		font-size: 1.5vw;
	};

	@include media-lg {
		font-size: 1.25vw;
	};

	@include media-xl {
		font-size: 1vw;
	};
}

body {
	@include font-size(map-get($font-size, 'text'));
	font-family: map-get($font-family, 'primary');
	font-weight: map-get($font-weight, 'primary');
	color: map-get($color-text, 'text');
	line-height: map-get($line-height, 'primary');
}

@import "headings";
@import "copy";
