button {
  @extend .btn;

  @include font-size(14);
  color: map-get($color_text, 'secondary');

  padding: 4px 6px;
  border: 0;
  margin: {
    left: 3px;
    right: 3px;
  }

  background: map-get($color, 'button');
  transition: color 300ms ease, background 300ms ease;

  &:not(:last-child):not(.dropdown-toggle),
  &:not(:first-child):not(.dropdown-toggle) {
    .btn-group > & {
      border-radius: 4px;
    }
  }

  .btn-group > & {
    &:first-child,
    & + button {
      margin-left: 3px;
    }

    &:last-child {
      padding-bottom: 4px;
      margin-right: 3px;
    }
  }

  &:hover,
  &:focus,
  &.active {
    color: white;
    background: map-get($color, 'secondary');
  }
}

.btn-group {
  margin: {
    left: -3px;
    right: -3px;
    bottom: 1.875em;
  }
}
