// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: $sizeValue * 1px;
	font-size: (($sizeValue / 10) * 1rem) / 100 * 52.083325;
}

// Responsive breakpoints
@mixin media-xs {
	@media (min-width: map-get($breakpoints, 'xs')) {
		@content;
	}
}

@mixin media-sm {
	@media (min-width: map-get($breakpoints, 'sm')) {
		@content;
	}
}

@mixin media-md {
	@media (min-width: map-get($breakpoints, 'md')) {
		@content;
	}
}

@mixin media-lg {
	@media (min-width: map-get($breakpoints, 'lg')) {
		@content;
	}
}

@mixin media-xl {
	@media (min-width: map-get($breakpoints, 'xl')) {
		@content;
	}
}
