.content {
  @extend .text-left;

  position: relative;

  @include font-size(24);

  padding: {
    top: 3.33333em;
    bottom: 3.33333em;
  }

  background: white;

  z-index: 2;

  @include media-xs {
    padding-top: 10em;
  };

  .container-custom {
    @extend .d-flex;
    @extend .flex-column;

    position: static;
    height: 100%;
  }

  &:not(.case-studies) .col,
  &:not(.case-studies) [class*="col-"] {
    &:last-child {
      @include media-md {
        text-align: right;
      };
    }
  }

  & &-intro {
    &:last-child {
      text-align: left;

      @include media-md {
        text-align: right;
      };
    }
  }

  h1,
  .h1 {
    margin-bottom: .4em;
  }

  a {
    color: inherit;
  }

  &:nth-of-type(even) {
    background: #ebebeb;
  }

  &-dark {
    @extend .content;

    color: white;
    background: black;

    h1,
    .h1 {
      color: inherit;
    }
  }
}

#intro {
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .fixed-top;
  @extend .h-100;

  background: black;
  opacity: 1;

  transition: opacity 0s ease;

  img {
    width: 20rem;
    .intro-finished & {
      width: 25rem;
    }
  }
}

#start {
  @extend .content-dark;

  height: 100vh;
  padding: 0;

  z-index: -1;

  @include media-xs {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  };

  .container-custom {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: auto;

    transform: translateY(-50%);

    z-index: 2;

    @include media-xs {
      top: 3.33333em;
      transform: none;
    };
  }

  &:not(.case-studies) .col,
  &:not(.case-studies) [class*="col-"] {
    &:last-child {
      @include media-xs {
        text-align: right;
      };
    }
  }

  p {
    font-size: inherit;
  }
}

  #video {
    &-container {
      position: relative;
      height: 100%;

      overflow: hidden;

      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        background: rgba(black, .75);
        z-index: 1;

        transition: background 300ms ease;
      }

      img {
        max-width: none;
        height: 100%;

        margin-left: 50%;
        transform: translateX(-50%);
      }
    }

    position: absolute;
    max-width: 350%;
    height: auto;

    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @include media-xs {
      max-width: 125%;
    };

    @include media-md {
      max-width: 250%;
    };

    @include media-lg {
      max-width: 150%;
    };

    @include media-xl {
      max-width: 125%;
    };
  }

#about-us {
  @extend .content;
}

.case {
  &-studies {
    @extend .content;

    &:nth-of-type(even) {
      @include media-xs {
        text-align: right !important;
      };

      .case-text {
        @extend .ml-auto;
      }
    }
  }

  &-text {
    @extend .col-12;
    @extend .col-xs-6;
  }
}

#modals {
  position: relative;
  height: 0;

  overflow: hidden;
  z-index: 2;
  transition: height 800ms ease, margin-top 800ms ease;

  .modal-active & {
    margin-top: -33.33333vh;
    z-index: 6;
  }
}

.modal {
  @extend .content;
  // @extend .d-none;
  @extend .d-block;

  position: static;

  &:nth-of-type(even),
  &:nth-of-type(odd) {
    background: white;
  }

  header,
  .content-text {
    @extend .col-10;
    @extend .mx-auto;
  }

  &.active {
    // @extend .d-block;
  }

  &-active {
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;

      position: fixed;
      top: 0;
      left: 0;

      cursor: s-resize;

      background: rgba(0,0,0,.25);
      z-index: 5;
    }
  }
}
