#footer {
  @extend .content-dark;

  position: relative;
  height: calc(100vh - 6.6em);

  padding: {
    top: 3.33333em;
  }

  .row {
    &:last-child {
      @extend .flex-grow-1;
      @extend .align-items-end;
    }
  }

  &:not(.case-studies) .col,
  &:not(.case-studies) [class*="col-"] {
    &:last-child {
      @include media-xs {
        text-align: right;
      };
    }
  }

  p {
    font-size: inherit;
  }
}
