#header {
  @extend .container-fluid;

  position: fixed;
  top: 0;
  left: 0;

  padding: 2.5em 0;
  margin-bottom: 82vh;

  background: black;

  transition: background 300ms ease;
  z-index: 3;

  @include media-xs {
    position: relative;

    padding: 2.5em 0 7.5em;
    margin: {
      top: 100vh;
      bottom: 0;
    }
  };

  @include media-sm {
    padding: 2.5em 0 10em;
  };

  .row {
    @extend .align-items-center;
  }
}

#logo {
  @extend .col-auto;
  @extend .mx-auto;
  @extend .ml-xs-0;

  a {
    position: relative;

    display: block;
    width: 18.5em;
    height: 5em;

    overflow: hidden;

    @include media-xs {
      width: 15em;
      height: 3.9em;
    };

    @include media-sm {
      width: 18.5em;
      height: 5em;
    };
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}
