img {
  max-width: 100%;
  height: auto;
}


.content-gallery {
  @extend .col-12;

  padding-top: 2.5em;

  @include media-xs {
    padding-top: 5em;
  };

  .row {
    margin-bottom: -2.5em;
  }

  figure {
    @extend .col-10;
    @extend .col-xs-5;
    @extend .col-sm-4;
    @extend .col-lg;
    @extend .mx-auto;
    @extend .text-center;

    margin-bottom: 2.5em;

    .wrapper {
      position: relative;
      margin: {
        bottom: 1.875em;
      }

      overflow: hidden;
    }

    img {
      transition: transform 300ms ease;
    }

    .overlay {
      @extend .d-none;
      @extend .d-xl-flex;
      @extend .align-items-center;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      width: 100%;
      height: 100%;
      margin: {
        left: auto;
        right: auto;
      }
      padding: 1.5em;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      background: rgba(white, .67);

      transition: all 300ms ease;
    }

    &:hover {
      img {
        @include media-xl {
          transform: scale(1.2);
        };
      }

      .overlay {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }

  figcaption {
    @extend p;

    line-height: 2;

    strong {
      @include font-size(20);
    }

    br {
      display: inline !important;
    }
  }

  .case-studies & {
    .row {
      @extend .align-items-start;
      @extend .flex-row-reverse;
    }

    figure {
      @extend .col-10;
      @extend .col-xs-6;
      @extend .col-lg-5;
      @extend .text-left;

      .wrapper {
        position: relative;
        height: 20em;

        border: 2em solid rgba(black, .2);

        overflow: hidden;
       }

       img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        transition: transform 1300ms ease;
      }

       &.mobile {
         @extend .col-xs-4;
         @extend .col-lg-3;

         .wrapper {
           height: 24em;
         }
       }

       &:hover {
         img {
           transform: translateY(calc(-100% + 16em));
         }
         &.mobile {
           img {
             transform: translateY(calc(-100% + 20em));
           }
         }
       }
    }
  }

  .case-studies:nth-of-type(odd) & {
    .row {
      @extend .flex-row;
    }
  }
}
